@import url('http://fonts.cdnfonts.com/css/eurostile');    
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                                                
    color: rgb(255, 255, 255);
    font-weight: 500;
    transition: all .1s ease-in-out; 
    border-radius: 2px;
}
p, span, button, input, textarea, label, a{
    line-height: 125%;
    font-size: 22px;
    text-align: justify;
    
}
p{
    font-size:24px;
    
    text-shadow: 2px 2px rgb(5, 5, 5);
    text-shadow: 1px 1px rgb(5, 5, 5);
}
h1, h2, h3{
    font-weight: 600;
    letter-spacing: 1px;
    
    text-shadow: 1px 1px rgba(0, 0, 0, 0.9),
                 2px 2px rgba(0, 0, 0, 0.8);
}

/* this is magic i found on stackoverflow */
body{
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

/*the container*/
#root{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    max-width: 100vw;

    background-color: #100806;
}

/*HEADER*/
nav{
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-bottom: 1px solid rgba(0, 0, 0, 0.9);


    height: 20vh;

    justify-items: center;

    background-color: rgb(9, 14, 19);

    /*this is based off of https://projects.verou.me/css3patterns/#starry-night */
    background-image:
    radial-gradient(rgba(255, 255, 255, 0), 
    rgba(8, 21, 24, .1) 2px, transparent 40px),
    radial-gradient(rgba(255, 255, 255, 0), 
    rgba(7, 18, 20, .1) 1px, transparent 20px),
    radial-gradient(rgba(255, 255, 255, 0), 
    rgba(22, 58, 65,.1) 2px, transparent 40px),
    radial-gradient(rgba(27, 61, 52, 0.295), 
    rgba(12, 18, 20,.05) 2px, transparent 10px);

    background-size: 150px 350px, 150px 50px, 150px 150px, 150px 150px;
    background-position: 480 0, 40px 60px, 130px 270px, 70px 100px;

}
nav h2{
    grid-row: 1;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;

    text-shadow: none;
    align-self: center;
} 
nav ul{
    grid-row: 2;

    grid-template-columns: repeat(5, 1fr);

    list-style-type: none;
    display: grid;
    min-width: 900px;

    justify-content: center;
    align-content: center;
}
nav ul *{
    display: inline-block;
    min-width: 100%;
    text-align: center;
    text-justify: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 14px;
    color: rgb(165, 165, 165);
}
nav ul *:hover{
    color: white;
}
.active{
    color: rgb(255, 255, 255);
}


/*GEAR*/
#gear-container{
    grid-row: 2;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, auto);

    justify-content: center;
    align-content: center;

    background-color: #100806;
}
#gear-container h1{
    display: none;
    grid-row: 1;
    margin: 20px;
    padding: 10px;
    font-size: 48px;
    background-color: grey;
    
    box-shadow: 0 3px 6px rgba(0,0,0,0.1),
                0 3px 6px rgba(0,0,0,0.2);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}
#gear-container #af75{
    margin-top: 50px;
    grid-row: 2;
    max-width: 950px;
    margin-bottom: 10px;
    justify-self: center;

    filter:
        contrast(120%);
}
#gear-container #af75-h2{
    grid-row: 3;
    max-width: 90vw;
    margin-bottom: 10px;
    font-size: 30px;
    justify-self: center;

    
    padding: 10px;
    
    box-shadow: 0 3px 6px rgba(0,0,0,0.1),
                0 3px 6px rgba(0,0,0,0.2);
}
#gear-container .my-guitar{
    grid-row: 4;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    
    box-shadow: 0 3px 6px rgba(0,0,0,0.1),
                0 3px 6px rgba(0,0,0,0.2);
    padding: 5px;
    
    margin-bottom: 10px;
    max-width: 1000px;
    justify-self: center;
}
#gear-container * h3{
    font-size: 24px;
    text-align: center;
    margin-top: 4px;
}
#gear-container .my-guitar .body, 
#gear-container .my-guitar .neck, 
#gear-container .my-guitar .other{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 5px;

    align-content: start;
}
#gear-container * .specs {
    display: grid;
    background-color: #030202fb;
    
    box-shadow: 0 3px 6px rgba(0,0,0,0.1),
                0 3px 6px rgba(0,0,0,0.2);
}
#gear-container * span:first-child{
    color:  rgba(253, 253, 253, 0.9);
    font-weight: 600;
}
#gear-container  *  span{
    font-size: 20px;
    margin: 4px;
    padding: 4px;
}
#gear-container .guitar-paragraph{
    display: none;
    grid-row: 5;
    background-color: grey;
    
    box-shadow: 0 3px 6px rgba(0,0,0,0.1),
                0 3px 6px rgba(0,0,0,0.2);
    padding: 10px;
    
    margin-bottom: 100px;
    max-width: 1000px;
    justify-self: center;
}
#gear-container #focusrite{
    margin-top: 50px;
    grid-row: 6;
    max-width: 300px;
    margin-bottom: 10px;
    justify-self: center;

    filter:
        contrast(120%);
}
#gear-container #fr-h2{
    grid-row: 7;
    max-width: 90vw;
    margin-bottom: 10px;
    font-size: 30px;
    justify-self: center;

    
    padding: 10px;

    box-shadow: 0 3px 6px rgba(0,0,0,0.1),
                0 3px 6px rgba(0,0,0,0.2);
}
#gear-container .my-focusrite{
    grid-row: 8;

    display: grid;
    
    
    box-shadow: 0 3px 6px rgba(0,0,0,0.1),
                0 3px 6px rgba(0,0,0,0.2);
    padding: 5px;
    
    margin-bottom: 10px;
    width: auto;
    justify-self: center;

    justify-content: center;
    align-content: center;
}
#gear-container .my-focusrite .fr-specs{
    grid-column: 2;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 5px;

    align-content: start;
}
#gear-container .focusrite-paragraph{
    
    display: none;
    grid-row: 9;
    background-color: grey;
    
    box-shadow: 0 3px 6px rgba(0,0,0,0.1),
                0 3px 6px rgba(0,0,0,0.2);
    padding: 10px;
    
    margin-bottom: 20px;
    max-width: 1000px;
    justify-self: center;
}

/*SONGS*/
#songs-container{
    grid-row: 2;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-right: 7vw;
    padding-left: 5vw;

    display: grid;
    grid-template-rows: repeat(auto, auto);
    grid-template-columns: 1fr;


    justify-content: center;
    align-content: center;
    align-self: center;
    justify-self: center;

    background-color: #100806;
}
#songs-container .songs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-gap: 0px;
    
    background-color: #030202fb;

    box-shadow: 0 3px 6px rgba(0,0,0,0.1),
                0 3px 6px rgba(0,0,0,0.2);
    
    max-width: 1000px;
    justify-self: center;

}
#songs-container .songs .bill{
    grid-row: 1;
    grid-column: 2;

    display: grid;
    grid-template-rows: 50px 50px 1fr;
    
    padding: 20px;
    min-height: 500px;

    background-image: url(./././images/billy.jpg);
    background-size: cover;
    
    box-shadow: inset 0px 0px 800px 150px rgba(0, 0, 0, 0.6);

    filter:grayscale(50%);
}
#songs-container .songs .maria{
    grid-row: 2;
    grid-column: 1;

    display: grid;
    grid-template-rows: 50px 50px 1fr;
    
    padding: 20px;
    min-height: 500px;
    
    background-image: url(./././images/maria.jpg);
    background-size: cover;


    box-shadow: inset 0px 0px 800px 150px rgba(0, 0, 0, 0.6);

    filter:grayscale(50%);
}
#songs-container .songs .tony{
    grid-row: 3;
    grid-column: 2;
    
    display: grid;
    grid-template-rows: 50px 50px 1fr;
    padding: 20px;
    
    background-image: url(./././images/tony.jpg);
    background-size: cover;
    min-height: 500px ;
    box-shadow: inset 0px 0px 800px 150px rgba(0, 0, 0, 0.6);

    filter:grayscale(50%);
}
#songs-container .songs * p{
    font-size: 24px;
    font-style: italic;
    padding: 14px;
    padding-top: 30px;
    margin-bottom: 20px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.466);
    text-shadow: 2px 2px rgba(5, 5, 5, 0.116);

    align-self: center;
}
#songs-container .songs .tony:hover,
#songs-container .songs .bill:hover,
#songs-container .songs .maria:hover{
    box-shadow: inset 150px 00px 800px 150px rgba(0, 0, 0); 
    
    transition: all 0s; 
}
#songs-container .songs *:hover p{
    transform: scale(.9);
    color: white;
    
    text-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
    text-shadow: 2px 2px rgb(0, 0, 0, .8);
}
#songs-container * ul{
    align-self: center;
    
    margin: 20px;
}
#songs-container * h2{
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    
    color: rgba(255, 255, 255, 0.9);
}
#songs-container * h3{
    padding-bottom: 16px;
}
#songs-container * li{
    list-style-type: none;
    align-self: center;
    justify-self: center;

    font-size: 18px;
    padding: 3px;
    padding-left: 20px;
    
}
#songs-container * li:hover{
    transform: scale(1.05);

    text-shadow: 1px 1px rgba(5, 5, 5, 0);
    font-weight: 500;
    text-indent: 8px;
    letter-spacing: 1px;
    border-radius: 2px;

    color: black;
    background-color: rgba(255, 255, 255, 0.9);

    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    max-width: 465px;
}



/* SHOWCASE */
.sccontainer{
    display: grid;
    height: auto;
    width:100vw;

    align-content: center;
    justify-content: center;

    background-color: #100806;

}
.sccontainer *{
    align-self: center;
    justify-self: center;
}
.sccontainer h1{
    display: none;
}

.sccontainer * ul{
    margin: 1px;
    width: 430px;
}
.sccontainer * li{
    cursor: pointer;  
    list-style-type: none;
    font-weight: 500;

    align-self: center;
    justify-self: center;

    font-size: 18px;

    padding-left: 10px;
    padding-right: 10px;

    line-height: 1.2;
}
.none:hover{
    text-indent: 0px;
    letter-spacing: 0.5px;
}
.show{
    text-indent: 2px;
    letter-spacing: 1px;
    

    border-radius: 2px;
    cursor:default!important;
    color: rgb(7, 5, 3)!important;
    background-color: rgb(255, 255, 255)!important;
}

.audiocontainer * h2{
    text-align: center;
    text-justify:center;
    font-size: 1px;
    margin-top: 20px;

    border-radius: 6px;

    color: rgba(0, 0, 0, 0)!important;
    
}
.audio1, .audio2, .audio3, .audio4, .audio5, .audio6, .audio7, .audio8{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-self: center;
    align-self: center;
    width: 100%;
}
audio{
    grid-column: 1;
    grid-row: 2;

    justify-self: center;
    align-self: center;

    width: 100%;
    transform: scale(1.3);
    filter: drop-shadow(3px 3px 1px rgb(0, 0, 0));
}
.audiocontainer{
    width: 70vw;
}
.showcase-img {
    height: 1fr;
    grid-row: 2;
    width: 100vw;
    height: 80vh;

    display: grid;
    grid-template-rows: auto auto;

    place-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
  }
.showcase-img::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(./././images/2atimeforlove.png);
    background-size: cover;
    filter:  
        brightness(100%) 
        contrast(300%) 
        invert(0%) 
        grayscale(100%)
        blur(1px)
  }
.showcase-img-inside {
    position: relative;
    background-color: rgba(7, 5, 3, 0.98);
    z-index: 3;
    border-radius: 2px;

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
}
  
/* NEW HOME STUFF */
.home-container{
    display: grid;

    grid-template-rows: repeat(auto,auto);
    grid-template-columns: 1fr;

    align-items: center;
    justify-items: center;

    background-color: #100806;
}
.home-container h1{
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 30px;
    align-self: center;
    justify-self: center;

}
.home-container h1 span{
    font-size: 36px;
    font-style: italic;
    font-weight: 600;
}

.home-album-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    margin: 0px;
    padding: 0px;
    width: 90vw;
    height: auto;
}
.home-album-buttons img{
    height:90%;
    width: auto;

    align-self: center;
    justify-self: center;
}
.home-buttons{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    align-items: center;
    justify-items: center;

}
.home-buttons button{
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    appearance: none;
    line-height: normal;
    display: inline-block;
    width: auto;
    height: auto;
    border-width: 0;

    padding: 21px 34px;
    letter-spacing: 3px;

    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #1c1c1c;
    background-color: #fff;
    border-color: #fff;
}
.home-buttons button:hover{
    background-color: rgb(194, 194, 194);
}
#listen{
    grid-row: 2;
}
#buy{
    grid-row: 3;
}

.home-container h2{
    margin-top: 15vh;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
}

.about-album{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, auto);
    width: 90vw;

    align-self: center;
    justify-self: center;

}
.about-album h1{
    margin-bottom: 4vh;
    justify-self: center;
}
.about-album p{
    padding-left: 10vw;
    padding-right: 10vw;
    font-size: 20px;
}
#steven{
    margin-bottom: 10vh;
}
.about-album img{
    width: 90vw;
    max-height: 80vh;
    margin-bottom: 10vh;
    filter:  
        brightness(100%) 
        contrast(300%) 
        invert(0%) 
        grayscale(100%)
        blur(0px);
    border: 2px double rgba(0, 0, 0, 0.9);
}



/* STRIBE */
.stribe-container{
    margin: 0;
    padding:0;
    height: 100vh;
    width: 100vw;

    background-color: rgb(251, 251, 251);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}
.stribe-container *{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
    line-height: 1.3;
    color: rgba(26,26,26,.9);
    font-weight: 400;
    font-size: 14px;
    text-justify: center;

    padding-top: 2vh;
}
.stribe-container * .submit{
    color: rgb(172, 172, 172);
    background-color: #005daa;
}

.left-half{
    grid-column: 1;
    width: 50vw;
    padding-bottom: 20vh;
    padding-left: 8vw;
    padding-right: 8vw;
    max-width: 600px;


    justify-self: end;
    display: grid;
    grid-template-rows: auto auto auto auto 1fr;
    grid-template-columns: 1fr;
}
#stribe-top{
    grid-row: 1;
    padding-bottom: 20px;
    font-weight: 600;
}
#back{
    cursor: pointer;
    padding-right: 20px;
    font-weight: 600;
    opacity: 0.8;
}
#back:hover{
    opacity: 1;
}
a{
    text-decoration: none;
}

#stribe-h4{
    grid-row: 2;
    padding-bottom: 0px;
    opacity: 0.6;
    font-weight: 600;
}
#cart, #cart *{
    grid-row: 3;
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 30px;
}

#order{
    grid-row: 4;
    max-width: 600px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#order #spot1{
    grid-row: 1;
    grid-column: 1;
    font-weight: 600;
}
#order #spot2{
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    font-weight: 600;
}
#order #spot3{
    grid-row: 2;
    grid-column: 1 / span 2;
    opacity: 0.6;
}

#footerthing{
    grid-row: 5;
    align-self: end;
}
.stribe{
    font-weight: 700;
    padding-left: 4px;
}
#footerthing *{
    font-size: 14px;
    padding-right: 20px;
    opacity: 0.8;
}
#privacy, #terms{
    cursor: pointer;
}



.right-half{
    grid-column: 2;
    width: 50vw;
    padding-bottom: 20vh;

    background-color: white;
}
.right-half form{
    display: grid;
    grid-template-rows: repeat(auto,auto);
    grid-template-columns: 1fr;
    justify-items:center;
}
form{
    padding-left: 8vw;
    padding-right: 8vw;
    justify-self: start;

    max-width: 600px;
}
form label{
    justify-self: start;
}

.form-header{
    display: grid;
    justify-content: start;
}
.title{
    font-size: 20px;
    font-weight: 600;
    justify-self: start;
}

::placeholder { 
    opacity: 0.6;
  }

#email{
    box-shadow: 0 0 0 1px #e0e0e0, 
                0 2px 4px 0 rgb(0 0 0 / 7%), 
                0 1px 1.5px 0 rgb(0 0 0 / 5%);
    border: none;
    padding-bottom: 14px;
}

.right-half form input, .right-half form select{
    height: 36px;
    width: 100%;
}
.right-half form select{
    font-size: 14px;
    text-justify: start;
    margin:0;
    padding:0;
}

.right-half form .ccstuff{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    width:100%;


    box-shadow: 0 0 0 1px #e0e0e0, 
                0 2px 4px 0 rgb(0 0 0 / 7%), 
                0 1px 1.5px 0 rgb(0 0 0 / 5%);
    
}
.ccstuff #ccn{
    grid-row: 1;
    grid-column: 1 / span 2;

    margin:0px;
    padding: 0px;
    border: none;

    border: 1px rgba(231, 231, 231, 0.5) groove;
    border-top: none;
    border-right: none;
    border-left: none;

}
.ccstuff #cardcvc{
    grid-row: 2;
    grid-column: 2;
    margin:0px;
    padding: 0px;
    max-width:20vw;

    border: 1px rgb(209, 209, 209, 0.5) groove;
    border-bottom: none;
    border-top: none;
    border-right: none;
}
.ccstuff #cardExpiry{
    grid-row: 2;
    grid-column: 1;
    margin:0px;
    padding: 0px;
    max-width:20vw;

    border: none;
}

#name{
    max-width:40vw;

    margin:0px;
    padding: 0px;
    margin-bottom: 10px;
    border: none;

    box-shadow: 0 0 0 1px #e0e0e0, 
    0 2px 4px 0 rgb(0 0 0 / 7%), 
    0 1px 1.5px 0 rgb(0 0 0 / 5%);
}

.CoR{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    align-content: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
    
    padding: 0px;
    margin: 0px;

    box-shadow: 0 0 0 1px #e0e0e0, 
    0 2px 4px 0 rgb(0 0 0 / 7%), 
    0 1px 1.5px 0 rgb(0 0 0 / 5%);

}
#country{
    grid-row: 1;
    grid-column: 1;
    text-indent: 6px;

    margin: 0px;
    padding: 0px;
    border: none;

    border: 1px rgba(243, 243, 243, 0.5) groove;
    border-top: none;
    border-right: none;
    border-left: none;
}
#zip{
    grid-row: 2;
    grid-column: 1;

    margin:0px;
    padding: 0px;
    border: none;
}

#submit-btn{
    width: 100%;
    margin-top:20px;
    height: 50px;
    padding:0px;
    text-align: center;
    text-justify: center;
    cursor: pointer;

    border-radius: 4px;

    border:none;
    box-shadow: none;

    background-color: rgb(0, 116, 212);
    color: rgba(255, 255, 255, 0.6);

    font-weight: 600;
    font-size: 16px;
}
#submit-btn:hover{
    color: white;
} 


#email-label, #name-label, #country-label, #card-label{
    font-weight: 600;
    opacity: .9;
    font-size: 14px;
}

input{
    text-indent:10px;
}
input:focus{
    outline:groove 3px rgba(0, 183, 255, 0.3);
    z-index: 3;
}


/* IPAD SIZE */
@media screen and (max-width: 1023px){
    nav ul *{
        min-width: 100%;
        letter-spacing: 1px;
        font-size: 12px;
    }
    nav ul{
        min-width: 450px;
    }
    .home-album-buttons{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .home-buttons{
        display: none;
    }

    #gear-container .my-guitar{
        max-width: 90vw;
    }
    #gear-container * span {
        font-size: 16px;
    }
    #gear-container img{
        width: 90%;
    }

    audio{
        transform: scale(1.2);
    }


    .stribe-container{
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
    }
    .left-half{
        grid-row: 1;
        grid-column: 1;
        width: 90vw;
        min-height: 60vh;
        padding-left: 0vw;
        padding-right: 0vw;
        max-width: auto;
        align-self: center;
        justify-self: center;
        padding-bottom: 4vh;
    
    }
    #order{
        max-width: 80vw;
    }


    .right-half{
        grid-row: 2;
        grid-column: 1;

        width: 100%;
        height: auto;
        padding-left: 4vw;
        padding-right: 4vw;
        max-width: auto;
        align-self: center;
        justify-self: center;
    }
    form{
        max-width: 90vw;
    }
    #name{
        max-width: 100%;
    }
    .ccstuff #cardcvc{
        max-width: none;
    }
    .ccstuff #cardExpiry{
        max-width: none;
    }
    input:focus{
        outline: none;
    }

    #songs-container{
        padding-right: 5vw;
    }
    #songs-container .songs{
        display:flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        width: 100%;
    }
    .standards{
        grid-row: 1;
        grid-column: 1;
        width: 100%;
        order: 1
    }
    .bill{
        grid-row: 2;
        grid-column: 1;
        height: 100vh;
        width: 100%;
        order: 2
    }
    .opera{
        grid-row: 3;
        grid-column: 1;
        width: 100%;
        order: 3
    }
    .maria{
        grid-row: 4;
        grid-column: 1;
        height: 100vh;
        width: 100%;
        order: 4
    }
    .contemporary{
        grid-row: 5;
        grid-column: 1;
        width: 100%;
        order: 5
    }
    .tony{
        grid-row: 6;
        grid-column: 1;
        height: 100vh;
        width: 100%;
        order: 6
    }
}

/*mobile phone size*/
@media screen and (max-width: 426px) {
    nav ul{
        min-width: 300px;
        max-width: 400px;
    }

    .home-container * img{
        width: 90vw;
    }
    .home-container * h1, .home-container h1{
        padding-right: 5vw;
        padding-left: 5vw;
        text-align: center;
    }

    li, p, span{
        font-size: 12px;
    }
    nav * li{
        font-size: 10px!important;
    }

    .sccontainer * ul{
        width: 90vw;
    }
    audio{
        transform: scale(1.0);
    }

    #gear-container .my-guitar{

        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    
        max-width: 1000px;
    }
    #af75-h2{
        text-align: center;
    }

}