*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 500;
    transition: all .1s ease-in-out; 
}
p, span, button, input, textarea, label{
    line-height: 125%;
    font-size: 20px;
    text-align: justify;
    
    text-shadow: 1px 1px rgba(0, 0, 0, 0.466);
}
li:hover, a:hover{
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
}
h1, h2, h3{
    font-weight: 600;
    letter-spacing: 1px;
    
    text-shadow: 1px 1px rgba(0, 0, 0, 0.466);
    text-shadow: 2px 2px rgb(5, 5, 5);
}

/*the container*/
#root{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 40px;
    max-width: 100vw;
    background-color: rgb(31, 31, 31);

    background:
    radial-gradient(red 5px, transparent 4px),
    radial-gradient(red 5px, transparent 4px),
    linear-gradient(rgba(220, 20, 60, 0.068) 4px, transparent 0),
    linear-gradient(47deg, transparent 74px, transparent 75px, black 75px, black 76px, transparent 77px, transparent 109px),
    linear-gradient(-43deg, transparent 75px, transparent 76px, red 76px, red 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

/*HEADER & FOOTER*/
nav{
    grid-row: 1;
    display: grid;
    grid-template-rows: 50px 50px;

    justify-items: center;
    background-color: red;
}
nav h2{
    grid-row: 1;
    font-size: 30px;
} 
nav ul{
    grid-row: 2;

    grid-template-columns: repeat(5, 1fr);

    list-style-type: none;
    display: grid;
    min-width: 800px;
    max-width: 1000px;

    justify-content: center;
    align-content: center;
}
nav ul li{
    display: inline-block;
    min-width: 100%;
    border: 1px black solid;
    text-align: center;
    text-justify: center;
}
.footer{
    grid-row: 3;
    display: grid;
    align-content: center;
    background-color: red;
}
.footer span{
    color: black;
    text-align: center;
    text-justify: center;
}

/*HOME*/
#home-container{
    grid-row: 2;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;

    justify-content: center;
    align-content: center;
}
#home-container .main-section{
    grid-row: 1;

    display: grid;

    height: 600px;
    max-width: 95vw;
    grid-template-columns: auto auto auto;

    margin: 10px;
    
    justify-self: center;
    text-align: center;
}
#home-container .main-section .img-container{
    max-height: 600px;
    max-width: 900px;
    grid-column: 2;
    border: 4px solid red;
    box-shadow: 2px 2px black;
    border-radius: 10px;
}
#home-container .main-section  * img{
    height: 100%;
    width: 100%;
    
    top: 50%;
    left: 50%;
  
    filter:  
        brightness(100%) 
        contrast(300%) 
        invert(000%) 
        grayscale(100%);
    align-self: center;
    justify-self: center;
}
#home-container .main-section h1{
    
  transform: translate(-50%, -50%);
    font-size: 60px;
    
  top: 50%;
  left: 50%;
  color: red;
  
    
  position: absolute;
}
#home-container .main-section #btnone{
    grid-column: 1;
    margin: 5px;
    
    opacity: .9;
    
    background-color: white;
    color:red;
    border: 2px black solid;
    
  cursor: pointer;

    align-self: center;
    justify-self: end;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
#home-container .main-section #btntwo{
    grid-column: 3;
    color:red;
    border: 2px black solid;
    background-color: white;
    opacity: .9;
    
    cursor: pointer;
    
    align-self: center;
    justify-self: start;
    
    margin: 5px;
    
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
#home-container .main-section button:hover,
#home-container .main-section .carousel-indicator img:hover{
    transform: scale(1.05);
}
#home-container .main-section button:active,
#home-container .main-section .carousel-indicator img:active{
    transform:translateY(2px);
}
#home-container .main-section .carousel-indicator{
transform: translate(-50%, -50%);
position: absolute;
    
  top: 92%;
  left: 50%; 
}
#home-container .main-section .carousel-indicator img{
    height: 50px;
    width: 50px;
    opacity: 90%;
    
    margin: 10px;

    cursor: pointer;
}
#home-container .showcase{
    margin: 20px;
    padding: 20px;
    font-size: 48px;
    letter-spacing: 2px;
    background-color: red;
    box-shadow: 2px 2px rgb(0, 0, 0);
}
#home-container .blog-container{
    max-width: 900px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-gap: 4px;

    justify-self: center;

    margin-top: 10px;
    margin-bottom: 10px;
}
#home-container .blog-container .blog-entry{
    padding: 20px;
    border: 1px black;
    
    box-shadow: 2px 2px rgb(0, 0, 0);
    display: grid;
    
    background-color: red;

    justify-items: center;
    align-items: center;

}
#home-container .blog-container .blog-entry *{
    margin: 10px;
}
#home-container .blog-container .blog-entry li{
    list-style-type: square;
}
#home-container .blog-container .blog-entry h2{  
    font-size: 40px;
    letter-spacing: 2px;
}
#home-container .blog-container .blog-entry span{
    justify-self: start;
    font-size: 14px;
}
#home-container .blog-container .blog-entry span:last-child{
    color: rgb(209, 209, 209);
}
#home-container .blog-container .blog-entry iframe{
    width: 600px;
    height: 400px;
    border: 1px solid rgb(red);
    
    box-shadow: 2px 2px rgb(0, 0, 0);
}

/*GEAR*/
#gear-container{
    grid-row: 2;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, auto);

    justify-content: center;
    align-content: center;
}
#gear-container h1{
    grid-row: 1;
    margin: 20px;
    padding: 20px;
    font-size: 48px;
    background-color: red;
    box-shadow: 2px 2px rgb(0, 0, 0);
}
#gear-container #af75{
    grid-row: 2;
    max-width: 950px;
    margin-bottom: 10px;
    justify-self: center;
}
#gear-container #af75:hover{
    transform: scale(1.01) rotate(-1deg);
}
#gear-container #af75-h2{
    grid-row: 3;
    max-width: 90vw;
    margin-bottom: 10px;
    font-size: 30px;
    justify-self: center;

    
    padding: 10px;
    background-color: red;
    box-shadow: 2px 2px rgb(0, 0, 0);
}
#gear-container .my-guitar{
    grid-row: 4;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    background-color: red;
    box-shadow: 2px 2px rgb(0, 0, 0);
    padding: 5px;
    
    margin-bottom: 10px;
    max-width: 1000px;
    justify-self: center;
}
#gear-container * h3{
    font-size: 24px;
    text-align: center;
    margin-top: 4px;
}
#gear-container .my-guitar .body, 
#gear-container .my-guitar .neck, 
#gear-container .my-guitar .other{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 5px;

    align-content: start;
}
#gear-container * .specs {
    display: grid;
    background-color: rgb(20, 20, 20, 0.97);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.85);
}
#gear-container * .specs:hover{
    transform: scale(1.03);
    box-shadow: 4px 4px rgb(0, 0, 0, 0.85);
}
#gear-container * span:first-child{
    color: red;
    font-weight: 600;
}
#gear-container  *  span{
    margin: 4px;
    padding: 4px;
}
#gear-container .guitar-paragraph{
    grid-row: 5;
    background-color: red;
    box-shadow: 2px 2px rgb(0, 0, 0);
    padding: 10px;
    
    margin-bottom: 100px;
    max-width: 1000px;
    justify-self: center;
}
#gear-container #focusrite{
    grid-row: 6;
    max-width: 300px;
    margin-bottom: 10px;
    justify-self: center;
}
#gear-container #focusrite:hover{
    transform: scale(1.01) rotate(1deg);
}
#gear-container #fr-h2{
    grid-row: 7;
    max-width: 90vw;
    margin-bottom: 10px;
    font-size: 30px;
    justify-self: center;

    
    padding: 10px;
    background-color: red;
    box-shadow: 2px 2px rgb(0, 0, 0);
}
#gear-container .my-focusrite{
    grid-row: 8;

    display: grid;
    
    background-color: red;
    box-shadow: 2px 2px rgb(0, 0, 0);
    padding: 5px;
    
    margin-bottom: 10px;
    width: auto;
    justify-self: center;

    justify-content: center;
    align-content: center;
}
#gear-container .my-focusrite .fr-specs{
    grid-column: 2;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 5px;

    align-content: start;
}
#gear-container .focusrite-paragraph{
    
    grid-row: 9;
    background-color: red;
    box-shadow: 2px 2px rgb(0, 0, 0);
    padding: 10px;
    
    margin-bottom: 20px;
    max-width: 1000px;
    justify-self: center;
}

/*SONGS*/
#songs-container{
    grid-row: 2;

    display: grid;
    grid-template-rows: repeat(auto, auto);
    grid-template-columns: 1fr;

    justify-content: center;
    align-content: center;
}
#songs-container h1{
    grid-row: 1;
    grid-column: 1;
    margin: 20px;
    padding: 20px;
    font-size: 48px;
    
    
    background-color: red;
    box-shadow: 2px 2px rgb(0, 0, 0);
}
#songs-container .songs-p{
    grid-row: 2;
    grid-column: 1;
    
    background-color: red;
    box-shadow: 2px 2px rgb(0, 0, 0);
    padding: 10px;
    
    margin-bottom: 20px;
    max-width: 800px;
    justify-self: center;
    align-self: center;
}
#songs-container .songs{
    grid-row: 3;
    grid-column: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-gap: 2px;
    
    background-color: rgb(20, 20, 20, .98);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.877);
    
    margin-bottom: 20px;
    max-width: 1000px;
    justify-self: center;

    
}
#songs-container .songs .bill{
    grid-row: 1;
    grid-column: 2;

    display: grid;
    grid-template-rows: 50px 50px 1fr;
    
    padding: 20px;
    min-height: 500px;

    background-image: url(../images/billy.jpg);
    background-size: cover;
    
    box-shadow: inset 0px 0px 800px 150px rgba(0, 0, 0, 0.6);
}
#songs-container .songs .maria{
    grid-row: 2;
    grid-column: 1;

    display: grid;
    grid-template-rows: 50px 50px 1fr;
    
    padding: 20px;
    min-height: 500px;
    
    background-image: url(../images/maria.jpg);
    background-size: cover;

    box-shadow: inset 0px 0px 800px 150px rgba(0, 0, 0, 0.6);
}
#songs-container .songs .tony{
    grid-row: 3;
    grid-column: 2;
    
    display: grid;
    grid-template-rows: 50px 50px 1fr;
    padding: 20px;
    
    background-image: url(../images/tony.jpg);
    background-size: cover;
    min-height: 500px ;
    box-shadow: inset 0px 0px 800px 150px rgba(0, 0, 0, 0.6);
}
#songs-container .songs * p{
    font-size: 24px;
    font-style: italic;
    padding: 14px;
    padding-top: 30px;
    margin-bottom: 20px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.466);
    text-shadow: 2px 2px rgb(5, 5, 5);

    align-self: center;
}
#songs-container .songs .tony:hover,
#songs-container .songs .bill:hover,
#songs-container .songs .maria:hover{
    box-shadow: inset 0px 0px 800px 150px rgba(0, 0, 0);
}
#songs-container .songs *:hover p{
    transform: scale(.9);
    color: white;
    
    text-shadow: 1px 1px rgb(196, 196, 196);
    text-shadow: 2px 2px rgb(102, 102, 102);
    text-shadow: 3px 3px rgb(5, 5, 5);
}
#songs-container * ul{
    align-self: center;
    
    margin: 20px;
}
#songs-container * h2{
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    
    color: red;
}
#song-container * h3{
    padding-bottom: 16px;
}
#songs-container * li{
    list-style-type: none;
    align-self: center;
    justify-self: center;

    font-size: 18px;
    padding: 3px;
    padding-left: 20px;
    
}
#songs-container * li:hover{
    transform: scale(1.05);

    text-shadow: 2px 2px rgb(5, 5, 5);
    text-shadow: 1px 1px rgb(5, 5, 5);
    font-weight: 600;
    text-indent: 8px;

    background-color: red;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    max-width: 465px;
}

/* CONTACT PAGE */
#contact-container{
    grid-row: 2;

    display: grid;
    grid-template-rows: repeat(auto, auto);
    grid-template-columns: 1fr;

    justify-content: center;
    align-content: center;
}
#contact-container h1{
    grid-row: 1;
    grid-column: 1;
    margin: 20px;
    padding: 20px;
    font-size: 48px;
    
    
    background-color: red;
    box-shadow: 2px 2px rgb(0, 0, 0);
}
#contact-container .contact-desc{
    
    background-color: red;
    box-shadow: 2px 2px rgb(0, 0, 0);
    padding: 10px;
    
    margin-bottom: 20px;
    max-width: 1000px;
    justify-self: center;
}
#contact-container form{
    display: grid;

    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 10px;

    width: 900px;

    justify-self: center;
    align-self: center;
    justify-items: center;
    align-items: center;

    background-color: red;
    box-shadow: 2px 2px rgb(0, 0, 0);
}
#contact-container form input{
  width: 300px;
  height: 30px;
  
  text-shadow: none;
  
  color: black;
}
#contact-container form textarea{
  resize: none;
  width: 400px;
  height: 200px;
  text-shadow: none;
  
  color: black;
}
#contact-container form button{
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 6px;
    color: black;
    text-shadow: none;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 255, 255);

    box-shadow: 1px 1px gray;
    box-shadow: 2px 2px rgb(0, 0, 0);
}
#contact-container form button:hover{
    
    transition: all .05s ease-in-out; 
    transform: scale(1.02);
    
    box-shadow: 3px 3px rgb(0, 0, 0);
}
#contact-container form button:active{
    transform:translateY(2px);
}
#contact-container .submitted{
    text-align: center;
    color: red;
    font-size: 20px;
}
#contact-container .crypto{
    background-color: red;
    max-width: 850px;
    min-width: 650px;
    margin: 20px;
    margin-bottom: 40px;
    padding: 5px;
    padding-top:10px;
    padding-bottom: 10px;

    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: auto auto auto auto;

    justify-self: center;
    align-self: center;
    justify-items: center;
    align-items: center;

    box-shadow: 2px 2px rgb(0, 0, 0);
}
#contact-container .crypto p{
    grid-column:  1 / span 2;
}
#contact-container .crypto #btcimg{
    grid-row: 3;
    grid-column: 1;
    height: 30px;
    width: 30px;
    
    cursor: pointer;

    justify-self: end;
}
#contact-container .crypto #ethimg{
    grid-row: 4;
    grid-column: 1;
    height: 30px;
    width: 30px;
    justify-self: end;
    cursor: pointer;
}
#contact-container .crypto span{
    cursor: pointer;
    padding-right: 20px;
    text-align: center;
    text-justify: center;
}
#contact-container .crypto span:hover{

    text-shadow: 2px 2px rgb(5, 5, 5);
    text-shadow: 1px 1px rgb(5, 5, 5);
    font-weight: 600;
    text-indent: 8px;

    letter-spacing: 1px;
    font-weight: 600;

    color: red;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.8);
}
#contact-container .crypto img:hover{
    transform: scale(1.5)
}
#contact-container .crypto img:active,
#contact-container .crypto span:active{
    transform:translateY(2px);
}